<%-include('.. /user/layout/userheader.ejs') -%>

  <!--================Home Banner Area =================-->
  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Product Checkout</h2>
              <p>Home <span>-</span> Shop Single</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->

  <!--================Checkout Area =================-->
  <section class="checkout_area padding_top" style="padding: 0">
    <div class="container">
      <div class="returning_customer">
        <!-- <div class="check_title">
          <h2>
            Returning Customer?
            <a href="#">Click here to login</a>
          </h2>
        </div> -->
        <!-- <p>
          If you have shopped with us before, please enter your details in the
          boxes below. If you are a new customer, please proceed to the
          Billing & Shipping section.
        </p> -->
        <!-- <form class="row contact_form" action="#" method="post" novalidate="novalidate">
          <div class="col-md-6 form-group p_star">
            <input type="text" class="form-control" id="name" name="name" value=" " />
            <span class="placeholder" data-placeholder="Username or Email"></span>
          </div>
          <div class="col-md-6 form-group p_star">
            <input type="password" class="form-control" id="password" name="password" value="" />
            <span class="placeholder" data-placeholder="Password"></span>
          </div> -->
        <!-- <div class="col-md-12 form-group">
            <button type="submit" value="submit" class="btn_3">
              log in
            </button> -->
        <!-- <div class="creat_account">
              <input type="checkbox" id="f-option" name="selector" />
              <label for="f-option">Remember me</label>
            </div> -->
        <!-- <a class="lost_pass" href="#">Lost your password?</a>
          </div>
        </form>
      </div> -->
        <!-- <div class="cupon_area"> -->
        <!-- <div class="check_title">
          <h2>
            Have a coupon?
            <a href="#">Click here to enter your code</a>
          </h2>
        </div> -->
        <!-- <input type="text" placeholder="Enter coupon code" />
        <a class="tp_btn" href="#">Apply Coupon</a>
      </div> -->
        <div class="billing_details">
          <div class="row">
            <div class="col-lg-8">
              <% if(address.length !=0){%>
                <div class="m-4 row mb-4 border">
                  <div class="col-4">
                    <h5>Delivery Address</h5>
                  </div>

                  <div class="col-6">
                    <p>
                      <%= address[index].fullName %>
                    </p>
                    <p>
                      <%= address[index].Phone %>
                    </p>
                    <p>
                      <%= address[index].pincode %>
                    </p>
                    <p>
                      <%= address[index].addressLine %>
                    </p>
                    <p>
                      <%= address[index].landMark %>
                    </p>
                    <p>
                      <%= address[index].city %>
                    </p>
                    <p>
                      <%= address[index].state %>
                    </p>
                  </div>

                  <div class="col-2">
                    <a onclick="showAllAddress()" href="#">Change</a>
                  </div>
                </div>
                <%}%>

                  <div id="allAddress" style="display: none" class="p-3 mt-4 mb-4">
                    <form action="/checkout" method="post">
                      <% address.forEach((addresses,index)=>{ %>
                        <div class="mt-4 p-4 border form-check">
                          <input class="form-check-input" type="radio" value="<%=index  %> " name="index"
                            id="flexRadioDefault1" />
                          <label for="">
                            <%=addresses.fullName %>
                              <%=addresses.phone %> <br />
                                <%=addresses.addressLine %> , <%=addresses.landMark %> ,
                                    <%=addresses.city %>, <%=addresses.state %> ,
                                        <%=addresses.pincode %>
                          </label>
                        </div>
                        <% }) %>

                          <button type="submit"
                            class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                            Delivery here
                          </button>
                    </form>
                  </div>
                  <div class="p-3 mt-4 mb-4 border">
                    <a href="#">
                      <h6 class="" onclick="showAddressForm()">
                        <i class="fs-16 zmdi zmdi-plus mr-2" style="font-size: 1rem"></i>Add New Address
                      </h6>
                    </a>
                  </div>
                  <div id="addressForm" class="p-5 border" style="display: none">
                    <div class="mb-5card-header py-3">
                      <h5 class="mtext-101 mb-0">Address details</h5>
                    </div>
                    <form action="/address" method="post">
                      <div class="row mb-4">
                        <div class="col">
                          <div class="form-outline">
                            <label class="form-label" for="form7Example1">Full Name</label>
                            <input type="text" name="fullName" id="form7Example1" class="form-control" />
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-outline">
                            <label class="form-label" for="form7Example2">Phone</label>
                            <input type="number" name="phone" id="form7Example2" class="form-control" />
                          </div>
                        </div>
                      </div>

                      <!-- Text input -->
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form7Example3">Picode</label>
                        <input type="number" name="pincode" id="form7Example3" class="form-control" />
                      </div>

                      <!-- Text input -->
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form7Example4">Flat, House no., Building, Company,
                          Apartment</label>
                        <input type="text" name="addressLine" id="form7Example4" class="form-control" />
                      </div>

                      <!-- Email input -->
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form7Example5">Landmark</label>
                        <input type="text" name="landMark" id="form7Example5" class="form-control" />
                      </div>

                      <div class="row mb-4">
                        <div class="col">
                          <div class="form-outline">
                            <label class="form-label" for="form7Example1">City</label>
                            <input type="text" name="city" id="form7Example1" class="form-control" />
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-outline">
                            <label class="form-label" for="form7Example1">State</label>
                            <input type="text" name="city" id="form7Example1" class="form-control" />
                          </div>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary float-right">
                        Save Address
                      </button>
                    </form>
                  </div>
            </div>
            <div class="col-lg-4">
              <div class="order_box" style="margin-top: 1.5">
                <h2>Your Order</h2>

                <ul class="list">
                  <!-- <li>
                  <a href="#">Product
                    <span>Total</span>
                  </a>
                </li> -->
                  <!-- <li>
                  <a href="#">Fresh Blackberry
                    <span class="middle">x 02</span>
                    <span class="last">$720.00</span>
                  </a>
                </li>
                <li>
                  <a href="#">Fresh Tomatoes
                    <span class="middle">x 02</span>
                    <span class="last">$720.00</span>
                  </a>
                </li>
                <li>
                  <a href="#">Fresh Brocoli
                    <span class="middle">x 02</span>
                    <span class="last">$720.00</span>
                  </a>
                </li> -->
                </ul>
                <ul class="list list_2">
                  <li>
                    <a href="#">Shipping
                      <span>Free</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">Total
                      <span>
                        <%= cartItems.cartTotal %>
                      </span>
                    </a>
                  </li>
                </ul>

                <div class="payment_item">
                  <div class="radion_btn">
                    <input type="radio" id="f-option5" name="selector" />
                    <label for="f-option5">Online payments</label>
                    <div class="check"></div>
                  </div>
                  <!-- <p>
                  Please send a check to Store Name, Store Street, Store Town,
                  Store State / County, Store Postcode.
                </p> -->
                </div>
                <div class="payment_item active">
                  <div class="radion_btn">
                    <input type="radio" id="f-option6" name="selector" />
                    <label for="f-option6">COD </label>
                    <img src="img/product/single-product/card.jpg" alt="" />
                    <div class="check"></div>
                  </div>
                  <!-- <p>
                  Please send a check to Store Name, Store Street, Store Town,
                  Store State / County, Store Postcode.
                </p> -->
                </div>
                <div class="creat_account">
                  <input type="checkbox" id="f-option4" name="selector" />
                  <label for="f-option4">I’ve read and accept the </label>
                  <a href="#">terms & conditions*</a>
                </div>
                <a class="btn_3" href="#">Proceed to Checkout</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script>
        function showAllAddress() {
          const address = document.getElementById("allAddress");
          if (address.style.display == "none") {
            address.style.display = "block";
          } else {
            address.style.display = "none";
          }
        }
      </script>

      <script>
        function showAddressForm() {
          const address = document.getElementById("addressForm");
          if (address.style.display == "none") {
            address.style.display = "block";
          } else {
            address.style.display = "none";
          }
        }
      </script>
      <!--================End Checkout Area =================-->

      <%-include('.. /user/layout/userfooter.ejs') -%>
    </div>
  </section>