


<%-include('../user/layout/userheader.ejs') -%>

<!--================Home Banner Area =================-->
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="breadcrumb_iner">
          <div class="breadcrumb_iner_item">
            <h2>Wishlist Products</h2>
            <p>Home <span>-</span>Wishlist Products</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb start-->

<!--================Cart Area =================-->
<section class="cart_area padding_top">
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <!-- <th scope="col">Quantity</th> -->
              <!-- <th scope="col">Total</th> -->
              <th scope="col">Update</th>
            </tr>
          </thead>
          <tbody>
            <% list.forEach(function(product){ %>
            <tr>
              <td>
                <div class="media">
                  <div class="d-flex">
                    <img src="/images/<%= product?.image %>" style="width: 200px; height: 200px;" alt="" />
                  </div>
                  <div class="media-body">
                    <p> <%= product?.productName %></p>
                  </div>
                </div>
              </td>
              <td>
                <h5> <%= product?.price %></h5>
              </td>
            

<!--              
              <td>
                <div class="product_count">
                  <span class="input-number-decrement"> <i class="ti-angle-down"></i></span>
                  <input class="input-number" type="text" value="1" min="0" max="10">
                  <span class="input-number-increment"> <i class="ti-angle-up"></i></span>
                </div>
              </td> -->
              <!-- <td>
                <h5>   <%= product?.price %></h5>
              </td> -->

           
              
              <td>
                <!-- <button type="submit" class="btn btn-primary"   style="width: 100px;">Remove</button>
                <span>&#9825;</span>
                 -->
                 <!-- <i class="bi bi-heart-fill"></i> -->
                 <form action="/removewishlistproduct/<%= product?._id %>" method="post">
                  
                   <button type="submit"  class="btn btn-outline-dark" >Remove</button>
                </form>
                  
              </td>
            </tr>
              <% }) %>
          </tbody>
        </table>
        <div class="checkout_btn_inner float-right">
          <a class="btn_1" href="productpage">Continue Shopping</a>
          <a class="btn_1 checkout_btn_1" href="#">Add to cart</a>
        </div>
      </div>
    </div>
</section>
<!--================End Cart Area =================-->

<%-include('../user/layout/userfooter.ejs') -%>
